.people {
	position:			relative;
	width:				80%;
	background-color:	rgba(255,255,255,0.5);
	margin:				2em 10% 2em 10%;
	padding-bottom:		2em;
	overflow:			auto;
}
.person {
	position:			relative;
	margin-top:			2em;
	margin-left:		2em;
	margin-right:		2em;
	background-color:	rgba(0,0,0, 0.7);
	min-height:			10em;
	float:				left;
	width: 90%;
}
.person figure{
	position:			relative;
	float:				left;
	margin-left:		2em;
	width:				10em;
	height:				10em;
	margin-top:			2em;
	z-index:			1;
}
.person figure img{
	height:				inherit;
	width:				inherit;
}
.person figure figcaption{
	position:			absolute;
	bottom:				0;
	left:				0;
	right:				0;
	color:				white;
	background-color:	rgba(0,0,0,0.7);
}
.person p{
	color:				white;
	font-size: 150%;
	width: auto;
}
